# cargo build --release --target=x86_64-unknown-linux-musl
[target.x86_64-unknown-linux-musl]
linker = "ld.lld-11"

# cargo build --release --target=aarch64-unknown-linux-musl
[target.aarch64-unknown-linux-musl]
linker = "ld.lld-11"

# cargo build --release --target=armv7-unknown-linux-musleabihf
[target.armv7-unknown-linux-musleabihf]
linker = "ld.lld-11"

# cargo build --release --target=x86_64-pc-windows-gnu
[target.x86_64-pc-windows-gnu]
linker = "x86_64-w64-mingw32-gcc"
