name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Enable multiarch support
        run: sudo dpkg --add-architecture i386

      - name: Update packages data base
        run: sudo apt-get update --quiet

      - name: Install C/C++ toolchains
        run: sudo apt-get install --quiet --no-install-recommends --yes dialog clang lld musl-dev mingw-w64 wine-stable

      - name: Install rustc targets
        run: rustup target add x86_64-unknown-linux-musl aarch64-unknown-linux-musl armv7-unknown-linux-musleabihf x86_64-pc-windows-gnu

      - name: Build for target x86_64-unknown-linux-musl
        run: cargo build --verbose --target=x86_64-unknown-linux-musl

      - name: Build for target aarch64-unknown-linux-musl
        run: cargo build --verbose --target=aarch64-unknown-linux-musl

      - name: Build for target armv7-unknown-linux-musleabihf
        run: cargo build --verbose --target=armv7-unknown-linux-musleabihf

      - name: Build for target x86_64-pc-windows-gnu
        run: cargo build --verbose --target=x86_64-pc-windows-gnu

      - name: Tests for target x86_64-unknown-linux-musl
        run: cargo test --verbose --target=x86_64-unknown-linux-musl

      - name: Tests for target x86_64-pc-windows-gnu
        run: cargo test --verbose --target=x86_64-pc-windows-gnu
